{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	
			
			<div class = 'name'>
                    <div class="row divider green">
                            <div class="col-md-12"></div>
                    </div>
                    <p></p>
                    <header>
                            <h2 class="font-weight-light">Items Across All Sports Categories</h2>
                    </header>
                    
                    <table>

                        <tr>
                            <th> Item ID </th>
                            <th> Item Name </th>
                            <th> Item Description </th>
                            <th> Category ID </th>
                            <th> User ID </th>
                            
                        </tr>
                        
                        {% for i in items %}
                        <tr>
                            <td> {{i.item_id}} </td>
                            <td> {{i.item_name}} </td>
                            <td> {{i.item_description}} </td>
                            <td> {{i.category_id}} </td>
                            <td> {{i.user_id}} </td>
                            
                        </tr>
                        {% endfor %}
                        
                    </table>
	
				</div>
	
			
			</div>
{% endblock %}
	
	
	